.system{

  &__sp{
    display: none;
  }

  &__white{
    & img{
      width: 100%;
    }
  }
  &__gray{
    text-align: center;
    background-color: #F2F2F2;
  }
  &__title{
    font-size: 3.6rem;
    font-weight: bold;
    padding:80px 0;
  }
  &__lists{
    position: absolute;
    background-color: #fff;
    top: -7%;
    left: 63%;
    height: 313px;
    padding: 15px 20px 10px 20px;
    // width: 50%;
    @media (max-width:1100px){
      left: 61%;
      // min-height: 380px;
    }
  }
  
  &__image{
    position: relative;
    // display: flex; 
    // justify-content: center;
    align-items: center;
    margin-left: -300px;
    max-width: 1385px;
  }
  &__list{
    position: relative;
    font-size: 2rem;
    font-weight: bold;
    line-height: 150%;
    margin-bottom: 20px;
    text-align: left;
    @media (max-width:680px){
      font-size: 1.6rem;
    }
  }
  &__text{
    font-size: 2.4rem;
    font-weight: bold;
    padding:60px 0;
    line-height: 150%;
  }
  &__text-lg{
    font-size: 2.8rem;
    font-weight: bold;
  }
  &__text>span{
    background:linear-gradient(transparent 60%, #FFA31A 60%);
  }
  &__text--bottom{
    padding-bottom:200px;
  }

  &__white{
    text-align: center;
  }

  &__white-text{
    font-size: 2rem;
    font-weight: bold;
    margin:50px 0;
    line-height: 160%;
  }

  &__gray-title{
    font-size: 3.6rem;
    font-weight: bold;
    padding:80px 0;
  }

  &__flexbox{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    @media (max-width:1100px){
      flex-direction: column;
    }
 
  }
  &__whitebox{
    background-color: white;
    height: 300px;
    width: 30%;
    margin: 0 25px;
    position: relative;
    box-shadow: 18px 18px 21px -13px rgba(0,0,0,0.3);
    padding-bottom: 30px;
    @media (max-width:1100px){
     margin-bottom: 150px;
     width: 90%;
    }
  }
  &__whitebox>img{
    position: absolute;
    top: -78px;
    left: 37%;
    @media (max-width:1100px){
      left: 46%;
    }
    @media (max-width:660px){
      left: 40%;
    }
  }
  &__boxtitle{
    font-size: 2rem;
    font-weight: bold;
    margin:125px 0 25px 0;
  }
  &__boxtext{
    font-size: 1.6rem;
    line-height: 170%;
  }

  &__textbox{
    margin:0 10px;
  }
}

.fa-check{
  color: #FFA31A;
  margin-right: 5px;
}